@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: var(--font-sofia), sans-serif;
}

::selection {
	background-color: #90e795;
	color: #0a0d06;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 80 20% 3%;
		--foreground: 120 7% 93%;
		--card: 80 22% 6%;
		--card-foreground: 120 7% 93%;
		--popover: 80 22% 6%;
		--popover-foreground: 120 7% 93%;
		--primary: 88 56% 53%;
		--primary-foreground: 80 30% 5%;
		--secondary: 80 22% 7%;
		--secondary-foreground: 120 7% 93%;
		--muted: 80 22% 7%;
		--muted-foreground: 80 8% 42%;
		--accent: 80 22% 7%;
		--accent-foreground: 120 7% 93%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 100 24% 12%;
		--input: 100 24% 12%;
		--ring: 88 56% 53%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-dark text-light;
	}
}

html {
	scroll-behavior: smooth;
}
